<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Tecnospeed
	</title>
	<link href="https://tecnospeed.com.br/icon.png" rel="icon" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://demos.creative-tim.com/argon-dashboard/assets/css/argon-dashboard.min.css?v=1.1.0" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>

<body class="">
	<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand pt-0" href="./index.html">
				<img src="https://static-public.klickpages.com.br/uploads/media/file/277440/Logo_TecnoSpeed.png" class="navbar-brand-img" alt="...">
			</a>
			<div class="collapse navbar-collapse" id="sidenav-collapse-main">
				<div class="navbar-collapse-header d-md-none">
					<div class="row">
						<div class="col-6 collapse-brand">
							<a href="./index.html">
								<img src="https://static-public.klickpages.com.br/uploads/media/file/277440/Logo_TecnoSpeed.png">
							</a>
						</div>
						<div class="col-6 collapse-close">
							<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
								<span></span>
								<span></span>
							</button>
						</div>
					</div>
				</div>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="./dashboard.html"> <i class="material-icons text-warning">bar_chart</i> Dashboard
						</a>
					</li>
					<li class="nav-item" class="active">
						<a class="nav-link active" href="./index.html"> <i class="material-icons text-primary">attach_money</i> Movimentações
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./categorias.html"> <i class="material-icons text-danger">list</i> Categorias
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="main-content mb-5">
		<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
			<div class="container-fluid">
				<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Movimentações</a>
			</div>
		</nav>
		<div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
		</div>
		<div class="container-fluid mt--8">
			<div class="row">
				<div class="col-xl-4 col-lg-6">
					<div class="card card-stats py-3 mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted">Saldo total</h5>
									<span id="saldoTotal" class="h1 font-weight-bold">0</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
										<i class="material-icons">attach_money</i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-6">
					<div class="card mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Adicionar movimentação</h5>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
										<i class="material-icons">swap_vert</i>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-10">
									<div class="row">
										<div class="col-sm-6 pr-sm-1">
											<a href="addEntrada.html" class="btn btn-block btn-success">Entrada</a>
										</div>
										<div class="col-sm-6 pl-sm-1">
											<a href="addSaida.html" class="btn btn-block btn-danger">Saída</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col">
					<div class="card shadow">
						<div class="card-header border-0">
							<div class="row">
								<div class="col ">
									<h3 class="mb-0">Movimentações</h3>
								</div>
								<div class="col-md-3 px-md-1">
									<select id="input-mes" class="form-control form-control-alternative" name="id_categoria">
										<option value="null" selected>Todos os meses</option>
										<option value="1" >Janeiro</option>
										<option value="2" >Fevereiro</option>
										<option value="3" >Março</option>
										<option value="4" >Abril</option>
										<option value="5" >Maio</option>
										<option value="6" >Junho</option>
										<option value="7" >Julho</option>
										<option value="8" >Agosto</option>
										<option value="9" >Setembro</option>
										<option value="10" >Outubro</option>
										<option value="11" >Novembro</option>
										<option value="12" >Dezembro</option>
									</select>
								</div>
								<div class="col-md-2">
									<button id="btnExportCsv" type="button" class="btn btn-block btn-info">Exportar CSV</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th scope="col">Categoria</th>
											<th scope="col">Tipo</th>
											<th scope="col">Valor</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://demos.creative-tim.com/argon-dashboard/assets/js/argon-dashboard.min.js?v=1.1.0"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
	$('#btnExportCsv').click(function () {
		$.get('http://localhost:8080/csv', {mes: $('#input-mes').val()});
	})
	$(document).ready(function() {
		$.get('http://localhost:8080/carteira', function(req) {
			$('#saldoTotal').html(req.saldo.toFixed(2));
		});

		$('.table').DataTable({
			"ajax": {
				url: "/historico",
				type: "get"
			},    
			"columns": [ 
				{ data: "categoria"},
				{ data: "tipo", render: function(aux){
					return aux == 'ENTRADA' ? '<i class="material-icons text-success">arrow_upward</i>' : '<i class="material-icons text-danger">arrow_downward</i>';
				}},
				{ data: "valor", render: function(aux){
					return 'R$' +aux.toFixed(2);
				}}
			]
		});
    });
</script>
</body>
</html>